{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ],
  "settings": {
    "import/parser": "babel-eslint"
  },
  "rules": {
    "no-plusplus": 0,
    "no-loop-func": 0,
    "no-mixed-operators": 0,
    "no-await-in-loop": 0,
    "max-len": [1, 200, 2, { "ignoreComments": true}]
  },
  "globals": {
    "it": true,
    "describe": true,
    "before": true,
    "after": true
  }
}