{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ],
  "settings": {
    "import/parser": "babel-eslint"
  },
  "rules": {
    "no-console": 0,
    "no-plusplus": 0,
    "no-loop-func": 0,
    "no-mixed-operators": 0
  },
  "globals": {
    "it": true,
    "describe": true,
    "before": true,
    "after": true
  }
}